$gallery: #EAEAEA;
$border-default: 0.1rem solid $gallery !default;
@mixin picker-underline {
	content: '';
	border-bottom: $border-default;
}
.container {
  width: 100%;
  position: relative;
}
.calendar-header {
    &:after {
		@include picker-underline;
		width: 100%;
		position: absolute;
		left: 0;
		top: 2.3rem;
	}
}
.calendar-row {
  height: 3.6rem;
}

.calendar-day {
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  background: transparent;
  border: none;
  border-radius: 50%;
}
