.container {
  width: 100%;
}
.calendar-row {
  height: 3.6rem;
}

.calendar-day {
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  background: transparent;
  border: none;
  border-radius: 50%;
}
