@import './variables.scss';
@import './mixins.scss';

@mixin btn-colors($btn-bg: $btn-default-bg) {
  box-shadow: 0 (-1 * $btn-box-shadow-width) 0 rgba(0, 0, 0, 0.15) inset;

  &:focus,
  &.focus,
  &:hover {
    background-color: $btn-bg;
    border-color: $btn-bg;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    &,
    &.focus,
    &:focus,
    &:hover {
      opacity: 1;
      background-color: shade($btn-bg, 12%);
      border-color: shade($btn-bg, 12%);
      box-shadow: none;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus {
      opacity: 0.4;
    }
  }
}
@mixin btn-tertiary-colors($color: $btn-default-bg) {
  &:global(.btn-tertiary) {
    background-color: transparent;
    box-shadow: none;
    font-weight: $btn-tertiary-font-weight;
    line-height: $btn-tertiary-line-height;
    min-height: $btn-tertiary-line-height;
    padding: 0 $padding-small;
    transition: background 0.2s ease-in;
    color: $color;
    &:hover,
    &:focus {
      color: $color;
      background: tint($color, 90%);
    }
    &:active {
      background: tint($color, 80%);
    }
  }
}

button {
  color: inherit;
}
:global(.btn) {
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.5rem;
  min-height: 3.5rem;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  &:global(.btn-icon-only) {
    padding: 0 5px;
  }

  //TODO: refactor this 👇
  :global(svg) {
    fill: currentColor;
    width: 1.2rem;
    height: 1.6rem;
    vertical-align: middle;
    margin: 0 0.4rem;
    &:global(.rotate-90) {
      transform: rotate(90deg);
    }
    &:global(.rotate-b-90) {
      transform: rotate(-90deg);
    }
  }
  & > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
:global(.btn-tertiary) {
  background-color: transparent;
  box-shadow: none;
  font-weight: 600;
  line-height: 2.5rem;
  min-height: 2.5rem;
}
:global(.btn-default) {
  &:hover {
    background: $concrete;
    opacity: 0.8;
  }
}
:global(.btn-info) {
  @include btn-colors($btn-info-bg);
  @include btn-tertiary-colors($btn-info-bg);
}
:global(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:global(.dropdown) {
  position: relative;


    :global(.dropdown-menu.open) {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
}
:global(.dropdown-menu) {
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.175);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: none;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1),
    transform 0.15s cubic-bezier(0, 0, 0.2, 1), visibility 0s;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}
