@import './variables.scss';
// TODO: global scope?
$dark-silver: #888;
$btn-default-bg: $dark-silver !default;
button {
  color: inherit;
}
:global(.btn) {
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.5rem;
  min-height: 3.5rem;
  padding: 0 15px;
  // text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  &:global(.btn-icon-only) {
    padding: 0 5px;
  }

  //TODO: refactor this 👇
  :global(svg) {
    width: 1.2rem;
    height: 1.6rem;
    vertical-align: middle;
    margin: 0 0.4rem;
  }
}
:global(.btn-tertiary) {
  background-color: transparent;
  box-shadow: none;
  font-weight: 600;
  line-height: 2.5rem;
  min-height: 2.5rem;
}
:global(.btn-default.btn-tertiary:hover) {
    background: $concrete;
    opacity: 0.8;
}
:global(table) {
  border-collapse: collapse;
  border-spacing: 0;
}
