// TODO: global scope?
:global(.btn) {
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.5rem;
  min-height: 3.5rem;
  padding: 0 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  //TODO: refactor this 👇
  :global(svg) {
    width: 1.2rem;
    height: 1.6rem;
  }
}
:global(.btn.btn-tertiary) {
  background-color: transparent;
  box-shadow: none;
  font-weight: 600;
  line-height: 2.5rem;
  min-height: 2.5rem;
}
