@import './variables.scss';

@mixin picker-underline {
  content: '';
  border-bottom: $border-default;
}
@mixin picker-action {
	font-size: 1.2rem;

	&.selected {
		background-color: $lochmara;
		color: $white;
		transition: color 0.2s ease-in;
		font-weight: $font-weight-semi-bold;
	}

	&:disabled {
		color: $silver-chalice;
		opacity: 0.54;
	}
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
/// @source https://css-tricks.com/snippets/sass/tint-shade-functions/
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
/// @source https://css-tricks.com/snippets/sass/tint-shade-functions/
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}