// colors
$gallery: #eaeaea;
$lochmara: #0675c1;
$white: #fff;
$concrete: #f2f2f2;
$silver-chalice: #ababab;
$dove-gray: #555;

// spacing
$padding-normal: 1.5rem;
$padding-small: 1rem;
$padding-smaller: 0.5rem;

// border
$border-default: 0.1rem solid $gallery !default;

// font
$font-weight-semi-bold: 600;
